<!-- <form class="form-inline waves-light searchbar" mdbWavesEffect>
  <div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
  </div>
</form> -->

<div class="center2">
    <!-- <img src="/assets/tx.jpg" class="mainpagePic"> -->
    <img src="/assets/metro2.png" class="mainpagePic">
    <form class="form-inline waves-light searchbar" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" (keydown.enter)="searchFun()">
      </div>
    </form> 
</div>
<div class="center3" *ngIf="!whereToVar">
    <div class="whereTo">
        <div class="wtClass">
            Προς τα Που?
        </div>
        <form class="form-inline" style="

        position: relative;
        top: 0%;
        height: 90%;
        right: 0%;" #form="ngForm">
            <!-- <br> -->
            <div class="form-group mx-sm-3 mb-2" style="position: absolute;
            top: 5px;
            left: 0px;">
              <label for="inputPassword2" class="sr-only">From</label>
              <!-- <mat-form-field>
                <input ngModel name="afetiria" #afetiria="ngModel" type="name" class="form-control" id="inputPassword2" placeholder="Αφετηρία" required>
              </mat-form-field>
              <mat-autocomplete>
                <mat-option *ngFor="let option of options" [value]="option">
                  {{ option }}
                </mat-option> -->
              <!-- </mat-autocomplete> -->
              <input ngModel name="afetiria" size="16" #afetiria="ngModel" type="name" class="form-control" id="inputPassword2" placeholder="Αφετηρία" [ngbTypeahead]="search" required>
                
              <!-- <input ngModel #afetiria="ngModel" id="typeahead-basic" type="text" class="form-control" [ngbTypeahead]="search"/> -->

            </div>
            <br>
            <div class="form-group mx-sm-3 mb-2" style="position: absolute;
            top: 60px;
            left: 0px;">
              <label for="inputPassword2" class="sr-only">To</label>
              <input ngModel name="proorismos" size="16" #proorismos="ngModel" type="name" class="form-control" id="inputPassword2" placeholder="Προορισμός" [ngbTypeahead]="search" required>
            </div>
            <!-- <input ngModel name="proorismos" #proorismos="ngModel" type="name" class="form-control" id="inputPassword2"> -->
            <!-- <input ngModel #amea="ngModel" type="radio" name="ameaa" value="amea" (click)="AmeA()"><h5 style="color: white;">ΑμεΑ</h5> -->
            
            <input *ngIf="afetiria.value != ''" size="13" ngModel name="diafthinsi" #diefthinsi="ngModel" type="name" class="form-control" id="inputPassword2" placeholder="Διεύθυνση Αφετηρίας" style="position: absolute;
            top: 120px;
            left: 15px;">
          
            <input *ngIf="proorismos.value != ''" size="13" ngModel name="diafthinsi" #diefthinsi="ngModel" type="name" class="form-control" id="inputPassword2" placeholder="Διεύθυνση Προορισμού" style="position: absolute;
            top: 120px;
            right: 15px;">
            
            <div style="position: absolute;
            top: 15px; left: 200px;">
              <input type="radio" value="AMEA" formControlName="SPECIAL NEED"><span style="color: white;">ΑμεΑ</span>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary mb-2 submitrout" (click)="findRout(afetiria, proorismos)">Εύρεση Διαδρομής</button>
          </form>
    </div>
</div>

<div *ngIf="!whereToVar" class="center5">
  <div class="anakoinoseis">
    <div style="cursor: pointer; width: 20%;"><a href=""><h2>Ανακοινώσεις</h2></a></div>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>


    <nav aria-label="Page navigation example" class="anakoinoseisPaging">
      <ul class="pagination">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="center33" *ngIf="whereToVar">
  <div class="whereTo">
    <!-- <div [style.overflow]="'auto'" [style.height.px]="'450'"> -->
      <div style="overflow:auto;height: 100%;">
      <h5 class="p-3 mb-2 bg-dark text-white">{{from.value}} - {{to.value}} </h5>
      <span class="d-block p-2 bg-info text-white" >1. Κατεύθυνση βόρεια στην Λεωφόρος Βασιλίσσης.</span>
      <span class="d-block p-2 bg-secondary text-white">2. Πηγαίνετε σε στάση ΣΥΝΤΑΓΜΑ Bus και πάρτε το λεωφορείο 224 προς ΕΛ. ΒΕΝΙΖΕΛΟΥ - ΚΑΙΣΑΡΙΑΝΗ. Ακολουθήστε τη διαδρομή για 11 στάσεις.</span>
      <span class="d-block p-2 bg-info text-white" >3. Κατεβείτε στη στάση 11η ΚΑΙΣΑΡΙΑΝΗΣ.</span>
      <span class="d-block p-2 bg-secondary text-white">4. Κατεύθυνση ανατολικά στην Λεωφόρος Εθνικής Αντιστάσεως. Προχωρήστε για 93 μέτρα.</span>
      <span class="d-block p-2 bg-info text-white" >5. Φτάνετε στην Λεωφόρος Εθνικής Αντιστάσεως. Ο προορισμός σας είναι στα δεξιά.</span>
      <span class="d-block p-2 bg-secondary text-white">6. Πηγαίνετε σε στάση ΣΥΝΤΑΓΜΑ Bus και πάρτε το λεωφορείο 224 προς ΕΛ. ΒΕΝΙΖΕΛΟΥ - ΚΑΙΣΑΡΙΑΝΗ. Ακολουθήστε τη διαδρομή για 11 στάσεις.</span>
      <div class="card">
        <div class="card-body">
          Προβλεπόμενος χρόνος: 47 λεπτά
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="whereToVar" class="center4">
  <div class="anakoinoseis">
    <div style="cursor: pointer; width: 20%;"><a href=""><h2>Ανακοινώσεις</h2></a></div>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>


    <nav aria-label="Page navigation example" class="anakoinoseisPaging">
      <ul class="pagination">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="kentro">
  <!-- <img src="/assets/fnl.png" class="kentroPic"> -->
</div>


<!-- <div class="center5">
  <div class="roianakoinoseon">
    <h2 style="display: flex; color: black; position: relative; justify-content: center; margin: auto;font-family: 'Times New Roman', Times, serif;font-size: 25px;">Ζωντανή Ροή Ανακοινώσεων</h2>
    
  </div>
</div> -->
<!-- <audio autoplay="true" src="assets/song.mp3 "></audio> -->