<div class="center2">
    <!-- <img src="/assets/tx.jpg" class="mainpagePic"> -->
    <img src="/assets/metro2.png" class="mainpagePic">
</div>
<div class="center3" *ngIf="!whereToVar">
    <div class="whereTo">
        <div class="wtClass">
            Προς τα Που?
        </div>
        <form class="form-inline" style="position: relative; top: 10%; right: 5%;" #form="ngForm">
            <br>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">From</label>
              <input ngModel name="afetiria" #afetiria="ngModel" type="name" class="form-control" id="inputPassword2" placeholder="Αφετηρία" required>
            </div>
            <br>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">To</label>
              <input ngModel name="proorismos" #proorismos="ngModel" type="name" class="form-control" id="inputPassword2" placeholder="Προορισμός" required>
            </div>
            <!-- <input ngModel name="proorismos" #proorismos="ngModel" type="name" class="form-control" id="inputPassword2"> -->
            <input ngModel #amea="ngModel" type="radio" name="gender" value="amea" (click)="AmeA()"><h5 style="color: white;">ΑμεΑ</h5>
            <!-- <input type="radio" value="AMEA" formControlName="SPECIAL NEED"><span>ΑμεΑ</span> -->
            <br><br>
            <button type="submit" class="btn btn-primary mb-2 submitrout" (click)="findRout(afetiria, proorismos)">Εύρεση Διαδρομής</button>
          </form>
    </div>
</div>

<div class="center33" *ngIf="whereToVar">
  <div class="whereTo">
      
  </div>
</div>

<div class="center4">
  <div class="anakoinoseis">
    <div style="cursor: pointer; width: 20%;"><a href=""><h2>Ανακοινώσεις</h2></a></div>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>
    <a href=""><p style="cursor: pointer; color: black;" title="Πατήστε για άνοιγμα ανακοίνωσης">Random Announcement That i have to put for no reason</p></a>


    <nav aria-label="Page navigation example" class="anakoinoseisPaging">
      <ul class="pagination">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="kentro">
  <!-- <img src="/assets/fnl.png" class="kentroPic"> -->
</div>


<!-- <div class="center5">
  <div class="roianakoinoseon">
    <h2 style="display: flex; color: black; position: relative; justify-content: center; margin: auto;font-family: 'Times New Roman', Times, serif;font-size: 25px;">Ζωντανή Ροή Ανακοινώσεων</h2>
    
  </div>
</div> -->
<!-- <audio autoplay="true" src="assets/song.mp3 "></audio> -->