<div class="center2">
    <img src="/assets/bus.jpg" class="mainpagePic">
</div>
<div class="center3">
    <div class="whereTo">
        <form class="form-inline">
            <div class="wtClass">
                Προς τα Που?
            </div>
            <br><br><br>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">From</label>
              <input type="name" class="form-control" id="inputPassword2" placeholder="Αφετηρία">
            </div>
            <br>
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputPassword2" class="sr-only">To</label>
              <input type="name" class="form-control" id="inputPassword2" placeholder="Προορισμός">
            </div>
            <!-- <input type="radio" value="AMEA" formControlName="SPECIAL NEED"><span>ΑμεΑ</span> -->
            <br><br>
            <button type="submit" class="btn btn-primary mb-2 submitrout">Εύρεση Διαδρομής</button>
          </form>
    </div>
</div>

<div class="center4">
  <div class="anakoinoseis">

    <nav aria-label="Page navigation example">
      <ul class="pagination anakoinoseisPaging">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </nav>
  </div>
</div>


<!-- <div class="center">
  <div class="roianakoinoseon">

    
  </div>
</div> -->