button.calendar {
    width: 2.75rem;
    background-image: url(
        '../../assets/calendar_icon.jpg')
        !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }

.form-label-left{
        width:150px;
}
.form-line{
        padding-top:12px;
        padding-bottom:12px;
}
.form-label-right{
        width:150px;
}
body, html{
    margin:0;
    padding:0;
    background:#fff;
}

.form-all{
    margin:0px auto;
    padding-top:0px;
    width:690px;
    color:#555 !important;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
    font-size:14px;
}
.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
        color: false;
}


.form-all {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Tahoma, sans-serif, sans-serif;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Tahoma, sans-serif, sans-serif;
}
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Tahoma, sans-serif, sans-serif;
}
.form-header-group {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Tahoma, sans-serif, sans-serif;
}
.form-label {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Tahoma, sans-serif, sans-serif;
}

.form-label.form-label-auto {
display: block;
float: none;
text-align: left;
width: 100%;
}

.form-line {
    margin-top: 12px 36px 12px 36px px;
    margin-bottom: 12px 36px 12px 36px px;
}

.form-all {
    width: 690px;
}

.form-label-left,
.form-label-right,
.form-label-left.form-label-auto,
.form-label-right.form-label-auto {
    width: 150px;
}

.form-all {
    font-size: 14pxpx
}
.form-all .qq-upload-button,
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    font-size: 14pxpx
}
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
    font-size: 14pxpx
}

.supernova .form-all, .form-all {
    background-color: ;
    border: 1px solid transparent;
}
.supernova {
    background-color: undefined;
    background-image: none;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 65%;
    top: 75px;   
}
.supernova body {
    background: transparent;
}

.form-all {
    color: Black;
}
.form-header-group .form-header {
    color: Black;
}
.form-header-group .form-subHeader {
    color: Black;
}
.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label {
    color: Black;
}
.form-sub-label {
    color: 1a1a25;
}

.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
    background-color: undefined;
}


#stage {
    background-image: none;
}

.form-all {
    background-image: none;
}

.ie-8 .form-all:before { display: none; }
.ie-8 {
margin-top: auto;
margin-top: initial;
}

.dropdown-menu-in-mesa {
    height: 130px;
}

.dropdown-toggle {
    background-color: white;
    color : #555;
    border-color: #D5DBDB;
}

.dropdown-toggle2 {
    margin-top: -8px; 
    height: 70px;
    width: 205px;
    font-size: small;
}

#label1 {float:left; width: 130px;}
#label2 {float:left; width: 130px; margin-left: 64px;}
#label3 {float:left; width: 130px; margin-left: 65px;}

#input1 {float:left;}
#input2 {float:left; margin-left: 10px;}
#input3 {float:left; margin-left: 10px;}