<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200066604350342" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F200066604350342" title="oEmbed Form">
<meta property="og:title" content="PayPal Pro Payment Form" >
<meta property="og:url" content="https://form.jotform.com/200066604350342" >
<meta property="og:description" content="Please click the link to complete this form.">
<meta name="slack-app-id" content="AHNMASS8M">
<link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
<link rel="canonical" href="https://form.jotform.com/200066604350342" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />


<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.14764" rel="stylesheet" type="text/css" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.14764" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.14764" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=5dca5ac9a5e86d17235d90c1"/>


</head>
<body>

<form #myForm="ngForm" (ngSubmit)="onSubmit()" a class="jotform-form" action="https://pci.jotform.com/submit/200066604350342" method="post" name="myform" id="200066604350342" accept-charset="utf-8">
  <input type="hidden" name="formID" value="200066604350342" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li class="form-line" data-type="control_paypalpro" id="id_3">
        <label class="form-label form-label-left form-label-auto" id="label_3" for="input_3"> Προιόντα </label>
        <div id="cid_3" class="form-input">
          <div data-wrapper-react="true" id="payment-wrapper-songbird" data-currency="USD" data-paymentType="product" data-sandbox="Disabled">
            <div data-wrapper-react="true">
              <input type="hidden" name="simple_fpc" data-payment_type="paypalpro" data-component="payment1" value="3" />
              <input type="hidden" name="payment_total_checksum" id="payment_total_checksum" data-component="payment2" />
              <div data-wrapper-react="true">

                <span class="form-product-item hover-product-item">
                  <div data-wrapper-react="true" class="form-product-item-detail">
                    <input id = "1" ng-model="list[$index].checked" (change)="checkValue($event, $event.target.checked)" type="checkbox" class="form-checkbox" name="check_1" value="1003" />
                    <label for="input_3_1003" class="form-product-container">
                      <span data-wrapper-react="true">
                        <span class="form-product-name" id="product-name-input_3_1003">
                          Ενιαίο εισιτήριο για όλα τα μέσα 90 λεπτών
                        </span>
                        <span class="form-product-details">
                          (
                          <b>
                            <span data-wrapper-react="true">
                              €
                              <span id="input_3_1003_price">
                                {{this.ticket_costs[0]}}
                              </span>
                            </span>
                          </b>
                          )
                        </span>
                      </span>
                    </label>
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" style="min-height:13px"> Ποσότητα </label>
                      <button id="1" (click)="minus($event)" type="button" class="button"> - </button>
                      <input [(ngModel)]="myarray[0][1]" type='number' name='1' min="0" class="input"/>
                      <button id="1" (click)="plus($event)" type="button">+</button>
                    </span>
                  </div>
                </span>

                <span class="form-product-item hover-product-item">
                  <div data-wrapper-react="true" class="form-product-item-detail">
                    <input id = "2" ng-model="list[$index].checked" (change)="checkValue($event, $event.target.checked)" type="checkbox" class="form-checkbox " name="check_2" value="1003" />
                    <label for="input_3_1003" class="form-product-container">
                      <span data-wrapper-react="true">
                        <span class="form-product-name" id="product-name-input_3_1003">
                          Μειωμένο ενιαίο εισιτήριο για όλα τα μέσα 90 λεπτών
                        </span>
                        <span class="form-product-details">
                          (
                          <b>
                            <span data-wrapper-react="true">
                              €
                              <span id="input_3_1003_price">
                                {{this.ticket_costs[1]}}
                              </span>
                            </span>
                          </b>
                          )
                        </span>
                      </span>
                    </label>
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" style="min-height:13px"> Ποσότητα </label>
                      <button id="2" (click)="minus($event)" type="button" class="button"> - </button>
                      <input [(ngModel)]="myarray[1][1]" type='number' name='2' min="0" class="input"/>
                      <button id="2" (click)="plus($event)" type="button">+</button>
                    </span>
                  </div>
                </span>

                <span class="form-product-item hover-product-item">
                  <div data-wrapper-react="true" class="form-product-item-detail">
                    <input id = "3" ng-model="list[$index].checked" (change)="checkValue($event, $event.target.checked)" type="checkbox" class="form-checkbox " name="check_3" value="1003" />
                    <label for="input_3_1003" class="form-product-container">
                      <span data-wrapper-react="true">
                        <span class="form-product-name" id="product-name-input_3_1003">
                          Ημερήσιο εισιτήριο για όλα τα μέσα
                        </span>
                        <span class="form-product-details">
                          (
                          <b>
                            <span data-wrapper-react="true">
                              €
                              <span id="input_3_1003_price">
                                {{this.ticket_costs[2]}}
                              </span>
                            </span>
                          </b>
                          )
                        </span>
                      </span>
                    </label>
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" style="min-height:13px"> Ποσότητα </label>
                      <button id="3" (click)="minus($event)" type="button" class="button"> - </button>
                      <input [(ngModel)]="myarray[2][1]" type='number' name='3' min="0" class="input"/>
                      <button id="3" (click)="plus($event)" type="button">+</button>
                    </span>
                  </div>
                </span>

                <span class="form-product-item hover-product-item">
                  <div data-wrapper-react="true" class="form-product-item-detail">
                    <input id = "4" ng-model="list[$index].checked" (change)="checkValue($event, $event.target.checked)" type="checkbox" class="form-checkbox " name="check_4" value="1003"  />
                    <label for="input_3_1003" class="form-product-container">
                      <span data-wrapper-react="true">
                        <span class="form-product-name" id="product-name-input_3_1003">
                          Εισιτήριο πέντε ημερών για όλα τα μέσα
                        </span>
                        <span class="form-product-details">
                          (
                          <b>
                            <span data-wrapper-react="true">
                              €
                              <span id="input_3_1003_price">
                                {{this.ticket_costs[3]}}
                              </span>
                            </span>
                          </b>
                          )
                        </span>
                      </span>
                    </label>
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" style="min-height:13px"> Ποσότητα </label>
                      <button id="4" (click)="minus($event)" type="button" class="button"> - </button>
                      <input [(ngModel)]="myarray[3][1]" type='number' name='4' min="0" class="input"/>
                      <button id="4" (click)="plus($event)" type="button">+</button>
                    </span>
                  </div>
                </span>
                <span class="form-product-item hover-product-item">
                  <div data-wrapper-react="true" class="form-product-item-detail">
                    <input id = "5" ng-model="list[$index].checked" (change)="checkValue($event, $event.target.checked)" type="checkbox" class="form-checkbox " name="check_4" value="1003"  />
                    <label for="input_3_1003" class="form-product-container">
                      <span data-wrapper-react="true">
                        <span class="form-product-name" id="product-name-input_3_1003">
                          Κανονικό εισιτήριο λεωφορείων EXPRESS
                        </span>
                        <span class="form-product-details">
                          (
                          <b>
                            <span data-wrapper-react="true">
                              €
                              <span id="input_3_1003_price">
                                {{this.ticket_costs[4]}}
                              </span>
                            </span>
                          </b>
                          )
                        </span>
                      </span>
                    </label>
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" style="min-height:13px"> Ποσότητα </label>
                      <button id="5" (click)="minus($event)" type="button" class="button"> - </button>
                      <input [(ngModel)]="myarray[4][1]" type='number' name='5' min="0" class="input"/>
                      <button id="5" (click)="plus($event)" type="button">+</button>
                    </span>
                  </div>
                </span>


                <span class="form-payment-total">
                  <b>
                    <span id="total_sum">
                      Σύνολο
                    </span>
                     
                    <span class="form-payment-price">
                      <span data-wrapper-react="true">

                        $
                        <span id="payment_total">
                          {{this.total_sum}}
                        </span>
                      </span>
                    </span>

                  </b>
                </span>

              </div>
              <hr/>
            </div>

            <table id="creditCardTable" class="form-address-table payment-form-table" cellPadding="0" cellSpacing="0">
              <tbody>
                <tr>
                  <th colSpan="2" style="text-align:left;margin-top:20px;display:table" id="ccTitle3">
                    Πιστωτική Κάρτα
                  </th>
                </tr>
                <tr>
                  <td width="50%">
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" for="input_3_cc_firstName" id="sublabel_cc_firstName" style="min-height:13px;margin:0 0 3px 0"> Όνομα </label>
                      <input #first_name_model="ngModel" required [(ngModel)]="first_name" type="text" id="first_name_id" name="first_name_id" class="form-control" size="20" value="" />

                      <div *ngIf="first_name_model.invalid && (first_name_model.dirty || first_name_model.touched)"
                        class="alert alert-danger">Απαιτείται το Όνομα.
                        <!-- <div *ngIf="first_name_model.errors.required">Απαιτείται το Όνομα.</div> -->
                      </div>
                      
                    </span>
                  </td>
                  <td width="50%">
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" for="input_3_cc_lastName" id="sublabel_cc_lastName" style="min-height:13px;margin:0 0 3px 0"> Επίθετο </label>
                      <input #last_name_model="ngModel" required [(ngModel)]="last_name" type="text" id="last_name_id" name="last_name_id" class="form-control" size="20" value="" />

                      <div *ngIf="last_name_model.invalid && (last_name_model.dirty || last_name_model.touched)"
                      class="alert alert-danger">
                      <div *ngIf="last_name_model.errors.required">Απαιτείται το Επίθετο</div> 
                    </div>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td width="50%">
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" for="input_3_cc_number" id="sublabel_cc_number" style="min-height:13px;margin:0 0 3px 0"> Αριθμός Πιστωτικής Κάρτας </label>
                      <input #credit_card_number_model="ngModel" required [(ngModel)]="credit_card_number" type="text" id="credit_card_number_id" name="credit_card_number_id" class="form-control" size="20" value="" />

                      <div *ngIf="credit_card_number_model.invalid && (credit_card_number_model.dirty || credit_card_number_model.touched)"
                      class="alert alert-danger">
                      <div *ngIf="credit_card_number_model.errors.required">Απαιτείται ο Αριθμός Πιστωτικής Κάρτας.</div> 
                    </div>
                    </span>
                  </td>
                  <td width="50%">
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" for="input_3_cc_ccv" id="sublabel_cc_ccv" style="min-height:13px;margin:0 0 3px 0"> Κωδικός Ασφαλείας </label>
                      <input #security_code_model="ngModel" required [(ngModel)]="security_code" type="text" id="security_code_id" name="security_code_id" class="form-control" size="20" value="" />

                      <div *ngIf="security_code_model.invalid && (security_code_model.dirty || security_code_model.touched)"
                      class="alert alert-danger">
                      <div *ngIf="security_code_model.errors.required">Απαιτείται ο Κωδικός Ασφαλείας.</div> 
                    </div>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td width="50%">
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" for="input_3_cc_exp_month" id="sublabel_cc_exp_month" style="min-height:13px;margin:0 0 3px 0"> Ημερομηνία Λήξης  </label>
                      <select required [(ngModel)]="expiration_month" class="form-dropdown cc_exp_month" name="expiration_month" id="expiration_month" data-component="cc_exp_month">
                        <option>  </option>
                        <option value="January"> Ιανουάριος </option>
                        <option value="February"> Φεβρουάριος </option>
                        <option value="March"> Μάρτιος </option>
                        <option value="April"> Απρίλιος </option>
                        <option value="May"> Μάιος </option>
                        <option value="June"> Ιούνιος </option>
                        <option value="July"> Ιούλιος </option>
                        <option value="August"> Αύγουστος </option>
                        <option value="September"> Σεπτέμβριος </option>
                        <option value="October"> Οκτώβριος </option>
                        <option value="November"> Νοέμβριος </option>
                        <option value="December"> Δεκέμβριος </option>
                      </select>
                    </span>
                  </td>
                  <td width="50%">
                    <span class="form-sub-label-container " style="vertical-align:top">
                      <label class="form-sub-label" for="input_3_cc_exp_year" id="sublabel_cc_exp_year" style="min-height:13px;margin:0 0 3px 0"> </label>
                      <select required [(ngModel)]="expiration_year" class="form-dropdown cc_exp_year" name="expiration_year" id="expiration_year" data-component="cc_exp_year">
                        <option>  </option>
                        <option value="2020"> 2020 </option>
                        <option value="2021"> 2021 </option>
                        <option value="2022"> 2022 </option>
                        <option value="2023"> 2023 </option>
                        <option value="2024"> 2024 </option>
                        <option value="2025"> 2025 </option>
                        <option value="2026"> 2026 </option>
                        <option value="2027"> 2027 </option>
                        <option value="2028"> 2028 </option>
                        <option value="2029"> 2029 </option>
                      </select>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
  
        
            <table id="creditCardTable" class="form-address-table payment-form-table" cellPadding="0" cellSpacing="0">
              <tbody>
                <tr>
                  <th colSpan="2" style="text-align:left;margin-top:20px;display:table" id="ccTitle3">
                    Athena Kάρτα
                  </th>
                </tr>
                <td width="50%">
                  <span class="form-sub-label-container " style="vertical-align:top">
                    <label class="form-sub-label" for="input_3_cc_number" id="sublabel_cc_number" style="min-height:13px;margin:0 0 3px 0"> Αριθμός Athena Κάρτας </label>
                    <input #athena_number_model="ngModel" required [(ngModel)]="athena_number" type="text" id="athena_number_id" name="athena_number_id" class="form-control" size="20" value="" />

                    <div *ngIf="athena_number_model.invalid && (athena_number_model.dirty || athena_number_model.touched)"
                    class="alert alert-danger">
                    <div *ngIf="athena_number_model.errors.required">Απαιτείται ο Κωδικός Ασφαλείας.</div> 
                </div>
                  </span>
                </td>
              </tbody>
            </table>

            <table id="creditCardTable" class="form-address-table payment-form-table" cellPadding="0" cellSpacing="0">
              <tbody>
                <tr>
                  <th colSpan="2" style="text-align:left;margin-top:20px;display:table" id="ccTitle3">
                    Email
                  </th>
                </tr>
                  <td width="50%">
                    <span class="form-sub-label-container " style="vertical-align:top">
                    <input #email_model="ngModel" required [(ngModel)]="email" type="text" id="email_model_id" name="email_model_id" class="form-control" size="20" value="" />

                    <div *ngIf="email_model.invalid && (email_model.dirty || email_model.touched)"
                    class="alert alert-danger">
                      <div *ngIf="email_model.errors.required">Απαιτείται το Email.</div> 
                    </div>

                    </span>
                  </td>
              </tbody>
            </table>
      
          </div>
        </div>
      </li>

      
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div style="margin-left:156px" class="form-buttons-wrapper ">
            <button class="btn btn-lg btn-primary btn-block" [disabled]="!myForm.valid || this.total_sum == 0" id="input_2" type="submit" style="width:120px;height:50px;">
              Υποβολή
            </button>
          </div>
        </div>
      </li>

    </ul>
  </div>

</form></body>
</html>