.center {
    display: flex;
    justify-content: center;

    /* border-color: rgb(248, 0, 248);
    border-width: 2px;
    border-style: solid; */
  }

.oasapic{
    position: relative;
    right: 12%;
    top: 55px;
    cursor: pointer;
}

.oasabar{
    /* border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid; */

    position: relative;
    left: 12%;
    top: 70px;
}

.divider{
    width: 5px;
    height: auto;
    display: inline-block;
}

.mpara{
    /* border-color: rgb(15, 77, 4);
    border-width: 2px;
    border-style: solid; */

    display: flex;
    position: relative;
    margin: auto;
    width: 65%;
    /* left: 25%; */
    top: 75px;
    /* width: 65%; */
    /* left: 20%; */
    
}

.fixmpara{
    position: relative;
    margin: auto;
    width: 100%;
}

.btncustom{
    font-size : 14px;
    width: 50%;
    height: 30%;
}