<div class="center">
    <div class="oasapic">
        <img src="/assets/oasa1.png" routerLink='' width="70" height="70" title="Main Page">
    </div>
    <!-- asd -->
    <div class="oasabar">
        <button *ngIf="greek" type="button" class="btn btn-dark">Ελληνικά</button>
        <button *ngIf="!greek" type="button" class="btn btn-light" (click)="changeLanguage()">Ελληνικά</button>
        <div class="divider"></div>
        <button *ngIf="!greek" type="button" class="btn btn-dark">English</button>
        <button *ngIf="greek" type="button" class="btn btn-light" (click)="changeLanguage()">English</button>
        <div class="divider"></div>
        <button *ngIf="greek" type="button" class="btn btn-light" routerLink='sixneserotiseis'>Συχνές Ερωτήσεις
            <img src="/assets/questionmark1.svg" width="22" height="22" 
            title="Αν πατήσετε στον παραπάνω&#013;σύνδεσμο, θα βρείτε ερωτήσεις&#013;που συχνά κάνουν οι χρήστες&#013;μαζί με τις απαντήσεις τους!">
            <!-- &#010; -->
            <!-- &#013; -->
        </button>
        <button *ngIf="!greek" type="button" class="btn btn-light" routerLink='sixneserotiseis'>Frequent Questions
            <img src="/assets/questionmark1.svg" width="22" height="22" 
            title="If you press the above&#013;link, you will find questions&#013;that the users usually ask&#013;together with their response!">
            <!-- &#010; -->
            <!-- &#013; -->
        </button>
    </div>
</div>

<div class="mpara center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"><!--  navbar-dark bg-primary -->
        <button *ngIf='greek' type="button" class="btn btn-primary" routerLink=''>Κεντρική Σελίδα</button>
        <button *ngIf='!greek' type="button" class="btn btn-primary" routerLink=''>Main Page</button>
        <div class="divider"></div>

        
        <div *ngIf = 'greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Για τον επιβάτη
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="erotimatologio">Ερωτηματολόγιο</a>
              <a class="dropdown-item" href="">Απολεσθέντα</a>
            </div>
          </div>

          <div *ngIf = '!greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              For the passenger
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="erotimatologio">Questionnaire</a>
              <a class="dropdown-item">Lost</a>
            </div>
          </div>

          <div class="divider"></div>

          <div *ngIf = 'greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Μετακίνηση
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Γραμμές οδικών συγκοινωνιών (λεωφορεία)</a>
              <a class="dropdown-item" href="">Γραμμές σταθερών συγκοινωνιών (μετρό)</a>
              <a class="dropdown-item" href="">Ωράριο λειτοθργίας Νυχτερινών - 24ωρων μέσων</a>
              <a class="dropdown-item" href="">Πληροφόρηση σε πραγματικό χρόνο</a>
              <a class="dropdown-item" href="">Σταθμοί μετεπιβίβασης</a>
            </div>
          </div>

          <div *ngIf = '!greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Movement
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Questionnaire</a>
              <a class="dropdown-item">Lost</a>
            </div>
          </div>

          <div class="divider"></div>

          <div *ngIf = 'greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Εισητήρια - Κάρτες
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Σημεία έκδοσης στις Οδικές</a>
              <a class="dropdown-item" href="">Σημεία έκδοσης στις Σταθερές</a>
              <a class="dropdown-item" href="">Τιμές εισιτηρίων</a>
              <a class="dropdown-item" href="">Τιμές χρονικών προϊόντων</a>
            </div>
          </div>

          <div *ngIf = '!greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Tickets - Cards
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Γραμμές οδικών συγκοινωνιών(λεωφορεία)</a>
              <a class="dropdown-item" href="">Γραμμές σταθερών συγκοινωνιών(μετρό)</a>
              <a class="dropdown-item" href="">Ωράριο λειτοθργίας Νυχτερινών - 24ώρων μέσων</a>
              <a class="dropdown-item" href="">Πληροφόρηση σε πραγματικό χρόνο</a>
              <a class="dropdown-item" href="">Σταθμοί μετεπιβίβασης</a>
            </div>
          </div>

          <div class="divider"></div>

          <div *ngIf = 'greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              ΑμεΑ
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Εύρεση στάσεων με ράμπα</a>
              <a class="dropdown-item" href="">Γενικές πληροφορίες ΑμεΑ</a>
            </div>
          </div>

          <div *ngIf = '!greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              For the Disabled
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Γραμμές οδικών συγκοινωνιών(λεωφορεία)</a>
              <a class="dropdown-item" href="">Γραμμές σταθερών συγκοινωνιών(μετρό)</a>
            </div>
          </div>

          <div class="divider"></div>

          <div *ngIf = 'greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Επικοινωνία
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Επικοινωνία με φορείς</a>
              <a class="dropdown-item" href="">Παράπονα</a>
            </div>
          </div>

          <div *ngIf = '!greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Communication
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Γραμμές οδικών συγκοινωνιών(λεωφορεία)</a>
              <a class="dropdown-item" href="">Γραμμές σταθερών συγκοινωνιών(μετρό)</a>
              <a class="dropdown-item" href="">Ωράριο λειτοθργίας Νυχτερινών - 24ώρων μέσων</a>
              <a class="dropdown-item" href="">Πληροφόρηση σε πραγματικό χρόνο</a>
              <a class="dropdown-item" href="">Σταθμοί μετεπιβίβασης</a>
            </div>
          </div>

          <div class="divider"></div>

          <div *ngIf = 'greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Σχετικά με Εμάς
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Πόσο χάλια σελίδα έχει ο ΟΑΣΑ</a>
              <a class="dropdown-item" href="">ώστε να πρέπει να την φτιάξω από</a>
              <a class="dropdown-item" href="">την αρχή μπας και πάρω πτυχίο<img src="/assets/heart.svg" width="22" height="22"></a>
            </div>
          </div>

          <div *ngIf = '!greek' ngbDropdown class="btn-group">
            <button ngbDropdownToggle type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              About us
            </button>
            <div ngbDropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="">Γραμμές οδικών συγκοινωνιών(λεωφορεία)</a>
              <a class="dropdown-item" href="">Γραμμές σταθερών συγκοινωνιών(μετρό)</a>
              <a class="dropdown-item" href="">Ωράριο λειτοθργίας Νυχτερινών - 24ώρων μέσων</a>
              <a class="dropdown-item" href="">Πληροφόρηση σε πραγματικό χρόνο</a>
              <a class="dropdown-item" href="">Σταθμοί μετεπιβίβασης</a>
            </div>
          </div>
      
    </nav>
</div>

<!-- <div class="dropdown">
    <a class="dropdown-toggle btn" data-toggle="dropdown" href="#" >Dropdown trigger</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li>Item One</li>
        <li>Item Two</li>
      </ul>
  </div> -->

