.bg {
	
	position: relative;
	background-image: url("/assets/blue_bg.jpg");
	height: 1000px;
	/* min-height: 100%; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; */
  }