<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>
<br>

<body>
<div >
  <h2 style="padding: 25px;">Γραμμές 24ωρης λειτουργίας</h2>
  <table class="table table-hover">
    <thead>
			<tr>
				<th scope="col">ΑΡΙΘΜΟΣ ΓΡΑΜΜΗΣ</th>
				<th scope="col">ΟΝΟΜΑΣIΑ ΓΡΑΜΜHΣ</th>
				<th scope="col">ΑΦΕΤΗΡΙΑ</th>
				<th scope="col">ΠΑΡΑΤΗΡHΣΕΙΣ – ΕΝΔΕΙΚΤΙΚEΣ ΩΡΕΣ ΛΕΙΤΟΥΡΓΙΑΣ</th>
			</tr>
    </thead>
    <tbody>
			<tr><td>040 </td>
			<td>
		
			</td>
			<td> ΠΕΙΡΑΙΑΣ–ΣΥΝΤΑΓΜΑ</td>
			<td>ΦΙΛΕΛΛΗΝΩΝ (ΣΥΝΤΑΓΜΑ)</td>
			<td>Ταυτίζεται με την πρωινή γραμμή</td></tr>
			<tr>
			<td>500</td>
			<td>500 ΠΕΙΡΑΙΑΣ–ΚΗΦΙΣΙΑ </td>
			<td>ΠΛ. ΚΑΡΑΙΣΚΑΚΗ</td>
			<td>Κατά Μήκος της Γραμμής 1 του Μετρό (Μ1-Κηφισιά –Πειραιάς) Δευτέρα - Κυριακή: 00:30 – 04:30</td></tr>
			<tr>
			<td> 790 </td>
			<td>ΓΛΥΦΑΔΑ - ΠΕΡΙΣΤΕΡΙ (ΑΓ. ΑΝΤΩΝΙΟΣ)</td>
			<td>ΠΛΑΤΕΙΑ ΓΛΥΦΑΔΑΣ</td>
			<td>ΛΕΩΦ.ΠΟΣΕΙΔΩΝΟΣ-ΛΕΩΦ.ΒΟΥΛΙΑΓΜΕΝΗΣ-ΗΛΙΟΥΠΟΛΕΩΣ-ΛΕΩΦ.ΒΑΣ.ΑΜΑΛΙΑΣ Δευτέρα - Κυριακή: 00:30 – 04:30</td></tr>
			
			<tr>
			<td> 	Χ14 </td>
			<td>Χ14 ΣΥΝΤΑΓΜΑ–ΚΗΦΙΣΙΑ</td>
			<td>ΟΘΩΝΟΣ (ΣΥΝΤΑΓΜΑ)</td>
			<td>Δευτέρα-Παρασκευή: 20:00 – 05:30 
					Σάββατο & Κυριακή: 24ώρη Λειτουργία </td></tr>
			<tr>
			<td> 11 </td>
			<td>ΑΝ. ΠΑΤΗΣΙΑ–ΠΑΓΚΡΑΤΙ–Ν. ΕΛΒΕΤΙΑ</td>
			<td>ΑΝΩ ΠΑΤΗΣΙΑ</td>
			<td>Δευτέρα - Κυριακή: 24ώρη Λειτουργία</td></tr>
			
			<tr>
			<td>T4*</td>
			<td> Σύνταγμα – Νέο Φάληρο</td>
			<td>Σύνταγμα</td>
			<td>Κυριακή - Πέμπτη: 05:00 – 01:00
			Παρασκευή & Σάββατο: Παράταση λειτουργίας</td>
			</tr>
			<tr>
			<td>
				
			T5* </td>
			<td>Σύνταγμα - Βούλα</td>
			<td>Σύνταγμα</td>
			<td>Κυριακή - Πέμπτη: 05:00 – 01:00
			Παρασκευή & Σάββατο: Παράταση λειτουργίας </td></tr>
			<tr>
			<td>
				
			T3* </td>
			<td>Νέο Φάληρο - Βούλα</td>
			<td>Νέο Φάληρο</td>
			<td>Κυριακή - Πέμπτη: 05:00 – 01:00
			Παρασκευή & Σάββατο: Παράταση λειτουργίας</td></tr>
    </tbody>
  </table>
</div>

</body>
</html>
